.error-message-div {
  text-align: center;
  margin-block-start: 10em;
  margin-block-end: 15em;
}

.empty-message-div {
  text-align: center;
  margin-block-start: 10em;
  margin-block-end: 15em;
}

.empty-message-div .illustration {
  font-size: 4em;
  margin-block-end: 0.5em;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-bottom: 1px solid var(--vscode-editorGroup-border);
}

.progress-bar-container {
  width: 100%;
  height: 4px;
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-progressBar-background);
  border-radius: 2px;
  overflow: hidden;
  box-sizing: border-box;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--vscode-progressBar-background);
  width: 30%;
  animation: progress-pixelated 35s steps(8, end) forwards;
}

@keyframes progress-pixelated {
  0% {
    width: 10%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}